<h1>Burgers!</h1>

<div id="main">
  <div id="undevoured">
    <h2>Ready to Eat!</h2>

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      <li>{{this.name}} <button data-id={{this.id}} class="change-devoured"> Devour! </button></li>
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div id="devoured">
    <h2>Burgers that are Devoured!</h2>

    <ul>
      {{#each burgers}}
      {{#if devoured}}
      <li>{{this.name}} <button data-id={{this.id}} class="delete-burger">Delete</button></li>
      {{/if}}
      {{/each}}
    </ul>
  </div>

</div>

<div id="addburger"> 
<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Add burger</button>
</form>

</div>