<div class = "jumbotron"><h1 class="display-4">Eat-Da-Burger!</h1> <img src="/assets/img/goodburger.jpg" alt=""></div>

<div id="main">
  <div id="undevoured">
    <h2>Ready to Eat!</h2>

    <ul>
      {{#each burgers}}
      {{#unless devoured}}
      <li>{{this.name}} <button data-id={{this.id}} class="change-devoured btn btn-danger"> Devour! </button></li>
      {{/unless}}
      {{/each}}
    </ul>
  </div>

  <div id="devoured">
    <h2>Devoured Burgers!</h2>

    <ul>
      {{#each burgers}}
      {{#if devoured}}
      <li>{{this.name}} <button data-id={{this.id}} class="delete-burger btn btn-danger">Delete</button></li>
      {{/if}}
      {{/each}}
    </ul>
  </div>

</div>

<div id="addburger"> 
<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit" class = "btn btn-danger">Add burger</button>
</form>

</div>