li {
  padding: 5px;
  margin: 5px;
  border: 0.5px dotted black;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

#undevoured {
  border: 1px solid black;
  width: 50%;
}

#devoured {
  border: 1px solid black;
  width: 50%;
}
h1 {
  color: red;
}
#main {
  display: flex;
  justify-content: space-around;
}
#addburger {
  border: 1 px solid black;
}
img {
  height: 200px;
  width: 200px;
}
.jumbotron {
  display: flex;
  justify-content: space-around;
  background-color: burlywood;
}
